@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');



:root{
	--header-height:3rem;
	--font-semi:600;
	--font-bold:700;

	--biggest-font-size:3rem;
	--h1-font-size:1.5rem;
	--h2-font-size:1.25rem;
	--normal-font-size:.938rem;
	--small-font-size:.75rem;
}



@media only screen and (max-width: 750px){
	:root{
		--biggest-font-size: 6rem;
		--h1 font size: 2.25rem;
		--h2 font size: 1.5rem;
		--normal-font-size: 1rem;
		--small-font-size: .813rem;
	}
}

:root{
	/*MARGINS*/
	--mb-1:.5rem;
	--mb-2:1rem;
	--mb-3:1.5rem;
	--mb-4:2rem;

	/*Z-INDEX*/
	--z-tooltip:10;
	--z-fixed:100;
}


/*BASE*/
*, ::before, ::after{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}


body{
	margin: var(--header-height) 0 0 0;
	font-family: 'Rajdhani', sans-serif;
	font-size: var(--normal-font-size);
	background-color: black;
	color: #fff;
	line-height: 1.6;
}

h1,h2,h3,p,ul{
	margin: 0;
}


ul{
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
	color: #383e56;
}

img{
	max-width: 100%;
	height: auto;
}


/*CSS CLASS*/
.section{
	padding: 3rem 0;
}

.section-title{
	font-size: var(--h2-font-size);
	color: #f25287;
	margin-bottom: var(--mb-4) 0 var(--mb-1);
	text-align: center;
}

.section-all{
	display: block;
	color: #00917c;
	font-size: var(--small-font-size);
	font-weight: var(--font-semi);
	text-align: center;
	margin-bottom: var(--mb-2);
}

/*LAYOUT*/

.bd-container{
	max-width: 960px;
	width: calc(100% - 2rem);
	margin-left: var(--mb-2);
	margin-right: var(--mb-2);
}

.bd-grid{
	max-width: 1024px;
	display: grid;
	grid-column-gap: 2rem;
	grid-template-columns: 100%;
	width: calc(100% - 3rem);
	margin-left: var(--mb-3);
	margin-right: var(--mb-3);
}

.l-header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: #00917c;
}


/*NAV*/
.nav{
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media only screen and (max-width: 750px){
	.nav-menu{
		position: fixed;
		text-align: center;
		top: var(--header-height);
		right: -100%;
		width: 80%;
		height: 100%
		padding: 2rem;
		background-color: black;
		transition: .5s;
	}
}


.nav-item{
	margin-bottom: var(--mb-4);
}

.nav-link{
	color: black;
	font-weight: var(--font-semi);
	transition: .3s;
}

.nav-link:hover{
	color: #78c4d4;
}

.nav-logo:hover{
	color: #fff;
}

.nav-logo{
	color: black;
	font-size: 1.1rem;
	font-weight: 600;
}

.nav-cart{
	font-size: 1.5rem;
	margin-right: var(--mb-2);
}

.nav-togle{
	font-size: 1.5rem;
	cursor: pointer;
}


/*SHOW MENU*/
.show-menu{
	right: 0;
}

/*ACTIVE MENU*/
.active{
	color: #fff;
}


/*HOME*/
.home-container{
	height: calc(100vh - var(--header-height));
}

.home-data{
	padding-top: 6rem;
}

.home-title{
	align-self: center;
	font-size: var(--biggest-font-size);
	line-height: 1;
	letter-spacing: .3rem;
	margin-bottom: 4rem;
}

.home-title span{
	font-size: var(--h1-font-size);
}

.home-img{
	position: absolute;
	width: 220px;
	right: 0;
	bottom: 0;
}

/*BUTTONS*/
.button{
	display: inline-block;
	font-size: var(--small-font-size);;
	font-weight: var(--font-semi);
	background-color: red;
	color: #fff;
	padding: .9rem 2.3rem;
	transition: .3s;
}

.button:hover{
	background-color: #00917c;
}



/*COLLECTION*/
.collection{
	grid-row-gap: 2rem;
}

.collection-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5rem;
	background-color: #025955;
	transition: .3s;
}

.collection-box:hover{
	transform: translateY(-.5rem);
}

.collection-img{
	width: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.colection-title{
	font-size: var(--h1-font-size);
	line-height: 1.2;
	margin-bottom: var(--mb-2);
	text-transform: uppercase;
	font-weight: var(--font-semi);
}


.collection-title{
	font-size: var(--h2-font-size);
	color: #fff;
}

.collection-view{
	color: #00917c;
	font-size: var(--small-font-size);
	font-weight: var(--font-semi);
}

/*FEATURED PRODUCTS*/
.featured-container{
	grid-row-gap: 2rem;
}


.featured-product{
	transition: .3s;
}


.featured-product:hover{
	transform: translateY(-.5rem);
}

.featured-box{
	position: relative;
	display: flex;
	justify-content: center;
	background-color: black;
}

.featured-box img{
	width: 300px;
}

.featured-new{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00917c;
	color: white;
	padding: .3rem .75rem;
	font-size: var(--small-font-size);
}


.featured-data{
	text-align: center;
}


.featured-name{
	margin-bottom: var(--mb-1);
	text-transform: uppercase;
	font-size: var(--normal-font-size);
}


.featured-price{
	color: #fff;
	font-weight: var(--font-semi);
}


/*OFFER*/
.offer-bg{
	text-align: center;
}

.offer-data{
	padding: 3.5rem .25rem;
	background-color: #6b011f;
	color: #fff;
}


.offer-title{
	font-size: var(--h1-font-size);
	letter-spacing: .2rem;
	text-transform: uppercase;
	font-weight: var(--font-semi);
}


.offfer-description{
	margin-bottom: var(--mb-2);
	letter-spacing: .2rem;
}


/*NEW ARRIVALS*/
.new-container{
	grid-row-gap: 2rem;
}

.new-box{
	position: relative;
	display: flex;
	justify-content: center;
	background-color: grey;
	overflow: hidden;
}


.new-box:hover .new-link{
	bottom: 0;
}


.new-link{
	position: absolute;
	bottom: -100%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1e212d;
	opacity: 0.8;
	transition: .3s;
}


/*NEWSLETTER*/
.newsletter{
	text-align: center;
}


.newsletter-description{
	margin-bottom: var(--mb-2);
	font-size: var(--normal-font-size);
	color: #a4ebf3;
}


.newletter-form{
	display: grid;
	grid-template-columns: 1fr .5fr;
}

.newsletter-input{
	outline: none;
	border:none;
	background-color: white;
	padding: .9rem 1rem;
	padding-bottom: 1.1rem;
}


/*FOOTER*/
/*.footer{
	background-color: #6b011f;
	color: white;
}*/

.footer-container{
	grid-row-gap: 1.5rem;
	margin-bottom: var(--mb-4);
}

.footer-title{
	margin-bottom: var(--mb-1);
}

.footer-deal{
	margin-bottom: var(--mb-2);
}

.footer-store{
	width: 130px;
}

.footer-link, .footer-social{
	color: grey;
}

.footer-social{
	font-size: 1.3rem;
	margin-right: var(--mb-1);
}

.footer-social:hover{
	color: red;
}

.footer-copy{
	border-top: 1px solid grey;
	padding-top: 3rem;
	text-align: center;
	color: #a4ebf3;
	font-size: var(--normal-font-size);
}



/*MEDIA QUERIES*/
@media screen and (min-width: 770px){
	body{
		margin: 0;
	}

	.section-all{
		margin-bottom: var(--mb-4);
	}

	.nav{
		height: calc(var(--header-height) + 1rem);
		justify-content: initial;
	}

	.nav-menu{
		margin-left: auto;
	}

	.nav-list{
		display: flex;
	}
	.nav-item{
		margin-left: var(--mb-4);
		margin-bottom: 0;
	}

	.nav-toggle{
		display: none;
	}

	.home-cotainer{
		height: 100vh;
	}
	.home-data{
		padding: 0;
		height: max-content;
		align-self: center;
	}
	.home-title{
		line-height: .8;
		letter-spacing: 1.5rem;
	}
	.home-img{
		width: 350px;
	}

	.collection-container{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}
	.collection-box{
		padding: .5rem 3rem 0;
	}
	.collection-img{
		width: 140px;
	}

	.featured-container,
	.footer-container{
		grid-template-columns: repeat(4, 1fr);
	}

	.offer-data{
		padding: 5rem 0;
	}

	.new-container{
		grid-template-columns: repeat(3, 1fr);
	}

	.newsletter-form{
		width: 400px;
		margin: 0 auto;
	}

	.footer-container{
		padding: 2rem 0;
	}
}

@media screen and (min-width: 1025px){
	.bd-grid{
		margin-left: auto;
		margin-right: auto;
	}

	.home-data{
		padding-left: 7rem;
	}
	.home-img{
		right: 15%;
	}

}











































